main{
    width:100%;
    margin-top: 2rem;
    display: flex;
    justify-content:center;
}


main > #home{
    width: 90%;
}


#home > .search-pays {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 2rem;
}


.box--cards{
    width: 100%;
    display: flex;
    justify-content:space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.card{
    cursor: pointer;
}

.load-more{
    display: flex;
    justify-content: center;
}



@media screen and (max-width:740px){
    .box--cards{
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items:center;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width:600px){
    #home > .search-pays{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 2rem;
    }
}