header{
    background-color: #fff;
    border-bottom:1px solid  gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    width: 100%;

}



header > a >h1 {
    margin: 0;
    color: black;
}



header > nav >  .button-white{
    font-size: 1.30rem;
    font-weight: 600;
    cursor: pointer;
}